<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <html lang="en" >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="images/cip-pino.png" />
    <!-- <link rel="shortcut icon" href="favicon.ico" type="images/cip-pino.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon.png"/> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.3.2/cdn.js'></script>
    <link rel="stylesheet" href="stylesheets/style.css" />
    <!-- <link rel="stylesheet" href="stylesheets/styles.css" /> -->
    <title>CIP-PUNO | Colegido de ingenieros del Perú</title>
  </head>
  <body class="text-blueGray-700 antialiased">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root">