      <!-- nav -->
      <nav
        class="md:left-0 md:block md:fixed md:top-0 md:bottom-0 md:overflow-y-auto md:flex-row md:flex-nowrap md:overflow-hidden shadow-xl drop-shadow-lg rounded-xl bg-slate-300   flex flex-wrap items-center justify-between relative md:w-64 z-10 py-4 px-2 m-2">
        <div class="md:flex-col md:items-stretch md:min-h-full md:flex-nowrap px-0 flex flex-wrap items-center justify-between w-full mx-auto bg-slate-50 p-3 pl-2 rounded-md  drop-shadow-lg" >
          <button
            class="cursor-pointer text-black opacity-50 md:hidden px-3 py-1 text-xl leading-none bg-transparent rounded border border-solid border-transparent"
            type="button"
            onclick="toggleNavbar('example-collapse-sidebar')"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="object-top">
            <img width="150px" class="" src="/images/logo.png" alt="CIP-PUNO">
            <a class="md:block text-left md:pb-2 text-blueGray-600 mr-0 inline-block whitespace-nowrap text-sm uppercase font-bold p-4 px-0"
              href="/">
              INTRANET CIP-PUNO
            </a>
          </div>
          <ul class="md:hidden items-center flex flex-wrap list-none">
          
            <li class="inline-block relative">
              <a
                class="text-blueGray-500 block"
                href="#pablo"
                onclick="openDropdown(event,'user-responsive-dropdown')"
                ><div class="items-center flex">
                  <span
                    class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"
                    ><img
                      alt="..."
                      class="w-full rounded-full align-middle border-none shadow-lg"
                      src="images/team-1-800x800.jpg"
                  /></span></div
              ></a>
              <div
                class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                id="user-responsive-dropdown"
              >
                <a
                  href="#pablo"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >nombre usuario</a
                ><a
                  href="#pablo"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >Another action</a
                ><a
                  href="#pablo"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >Something else here</a
                >
                <div
                  class="h-0 my-2 border border-solid border-blueGray-100"
                ></div>
                <a
                  href="#pablo"
                  class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
                  >Seprated link</a
                >
              </div>
            </li>
          </ul>
          <div class="md:flex md:flex-col md:items-stretch md:opacity-100 md:relative md:mt-4 md:shadow-none shadow absolute top-0 left-0 right-0 z-40 overflow-y-auto overflow-x-hidden h-auto items-center flex-1 rounded hidden"
            id="example-collapse-sidebar">
            <div
              class="md:min-w-full md:hidden block pb-4 mb-4 border-b border-solid border-blueGray-200"
            >
            
            </div>
            <form class="mt-6 mb-4 md:hidden">
              <div class="mb-3 pt-0">
                <input
                  type="text"
                  placeholder="Search"
                  class="border-0 px-3 py-2 h-12 border border-solid border-blueGray-500 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-base leading-snug shadow-none outline-none focus:outline-none w-full font-normal"
                />
              </div>
            </form>
            <!-- Divider -->
            <hr class="my-4 md:min-w-full" />
            <!-- Heading -->
            <a a href="/perfil"
              class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline"
            >
            <i class="fas fa-user-cog mr-2"></i>
              ASUARIO | PERFIL 
          </a>
            <!-- Navigation -->

            <ul class="md:flex-col md:min-w-full flex flex-col list-none">
              <li class="items-center">
                <a
                  href="/dashboard"
                  class="text-xs uppercase py-3 font-bold block text-pink-500 hover:text-pink-600"
                >
                  <i class="fas fa-tv mr-2 text-sm opacity-75"></i>
                  Dashboard
                </a>
              </li>

              <li class="items-center">
                <a
                  href="/cursos"
                  class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500"
                >
                 
                  <i class="fas fa-film mr-2 text-sm text-blueGray-300"></i>
                  CURSOS
                </a>
              </li>

              <li class="items-center">
                <a
                  href="/cursos"
                  class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500"
                >
                <i class="fas fa-chalkboard-teacher mr-2 text-sm text-blueGray-300"></i>
               
                  MIS CURSOS
                </a>
              </li>

              <!-- <li class="items-center">
                <a
                  href="/capacitacion"
                  class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500"
                >
                  <i class="fas fa-table mr-2 text-sm text-blueGray-300"></i>
                  Tables
                </a>
              </li> -->

              <li class="items-center">
                <a
                  href="/pagos"
                  class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500"
                >
                  <i
                    class="fas fa-hand-holding-usd mr-2 text-sm text-blueGray-300"
                  ></i>
                  PAGAR
                </a>
              </li>
              <li class="items-center">
                <a
                  href="./maps.html"
                  class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500"
                >
                  <i
                    class="fas fa-folder-open mr-2 text-sm text-blueGray-300"
                  ></i>
                  MIS TRAMITES
                </a>
              </li>
              <li class="items-center">
                <a
                  href="./maps.html"
                  class="text-xs uppercase py-3 font-bold block text-blueGray-700 hover:text-blueGray-500"
                >
                  <i
                    class="fas fa-graduation-cap mr-2 text-sm text-blueGray-300"></i>
                  MIS CERTIFICADOS
                </a>
              </li>
            </ul>
            <hr class="my-4 md:min-w-full" />
            <!-- Heading -->
            <h6
              class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline">
              ADMINISTRACION
            </h6>
            <!-- Navigation -->

            <ul
              class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4"
            >
              <li class="items-center">
                <a
                  href="/pagos/listvl"
                  class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
                >
                   <i class="fas fa-credit-card mr-2"></i>
                  VALIDAR PAGO
                </a>
              </li>

              <li class="items-center">
                <a
                  href="../landing.html"
                  class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block"
                >
              
                   <i class="fas fa-envelope-open-text mr-2"></i>
                  VER TRÁMITES
                </a>
              </li>

              <li class="items-center">
                <a href="/cursos"
                  class="text-blueGray-700 hover:text-blueGray-500 text-xs uppercase py-3 font-bold block">
                  <i class="fas fa-edit text-blueGray-300 mr-2 text-sm"></i>
      
                  REGISTRAR CURSOS
                </a>
              </li>
            </ul>
            <!-- Divider -->
            <hr class="my-2 md:min-w-full" />
            <!-- Heading -->
            <h6
              class="md:min-w-full text-blueGray-500 text-xs uppercase font-bold block pt-1 pb-4 no-underline">
              MATENIMIENTO
            </h6>
            <!-- Navigation -->
            <ul
              class="md:flex-col md:min-w-full flex flex-col list-none md:mb-4">
              <li class="inline-flex">
                <a
                  href="https://www.creative-tim.com/learning-lab/tailwind/js/colors/notus"
                  target="_blank"
                  class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
                >
                   <i class="fas fa-headset mr-2 text-blueGray-300 text-base"></i>
                  SOPORTE
                </a>
              </li>
              <li class="inline-flex">
                <a
                  href="https://www.creative-tim.com/learning-lab/tailwind/angular/overview/notus"
                  target="_blank"
                  class="text-blueGray-700 hover:text-blueGray-500 text-sm block mb-4 no-underline font-semibold"
                >
                  </i>  <i class="fas fa-user-cog mr-2 text-blueGray-300 text-base"></i>
                  USER
                </a>
              </li>
            </ul> 
          </div>
        </div>
      </nav>