      <!-- nav -->
      <%- include('partials/navbar.ejs'); %> 
      <!-- end nav -->
      <div class="relative md:ml-64 ">
        <!-- heard perfil -buscar -->
       
        <!-- end heard perfil -buscar -->
        <!-- Header -->
        <div class="relative  items-start pb-56 m-2 overflow-hidden bg-center bg-cover min-h-50-screen rounded-xl " style="background-image: url('https://cdlima.org.pe/wp-content/uploads/2021/08/cdlima-1.png')  ">
          <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-cyan-600 opacity-60"></span>
          <div class=" mx-auto w-full">
            <div
                class="m-4  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">

              <div style="grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; display: grid;">
               
                <div class="m-4 mx-20 relative  min-w-0 break-words bg-white shadow-lg rounded opacity-100">
                  <div class="">
                    <select class="form-select appearance-none
                      block
                      w-full
                     
                      py-1.5
                      text-center
                      text-2xl
                      font-normal
                      text-black
                      bg-transparent bg-clip-padding bg-no-repeat
                      border border-solid border-black
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
                        <option selected>Seleccionar Capitulos</option>
                        <option value="1">Agricola</option>
                        <option value="2">Agronomica y Zootecnica</option>
                        <option value="3">Ambiental</option>
                        <option value="3">Civil</option>
                        <option value="3">Economia y Administrativa</option>
                        <option value="3">Electrica</option>
                        <option value="3">Electronica</option>
                        <option value="3">Forestal</option>
                        <option value="3">Geografica</option>
                        <option value="3">Geologica</option>
                        <option value="3">Industrial y sistemas</option>
                        <option value="3">Industrias alimentarias y Agroindustrias</option>
                        <option value="3">Mecanica y Mecanica Electrica</option>
                        <option value="3">Metalurgia</option>
                        <option value="3">Minas</option>
                        <option value="3">Pesquera y Acuicultura</option>
                        <option value="3">Petroleo y Petroquimica</option>
                        <option value="3">Quimica</option>
                        <option value="3">Sanidad e Higiene y Seguridad Industrial</option>
                    </select>
                  </div>
                </div>

                <div class="m-4  relative  min-w-0 break-words bg-white shadow-lg rounded opacity-100">
                  <div class="">
                    <select class="form-select appearance-none
                      block
                      w-full
                      px-3
                      py-1.5
                      text-center
                      text-2xl
                      font-normal
                      text-black
                      bg-transparent bg-clip-padding bg-no-repeat
                      border border-solid border-black
                      rounded
                      transition
                      ease-in-out
                      m-0
                      focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
                        <option selected>Tipo</option>
                        <option value="1">Cursos</option>
                        <option value="1">Talleres</option>
                        <option value="2">Seminarios</option>
                        <option value="3">Conferencias</option>
                        <option value="1">otros</option>
                    </select>
                  </div>
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div
                class="mx-10  relative  min-w-0 break-words bg-black shadow-lg rounded opacity-80">
                </div>
                <div class="m-4 relative  min-w-0 break-words bg-white shadow-lg rounded opacity-100">
                 
                    
                    <a href="/miscursos" class="text-2xl w-full">Mis cursos</a>
                  
                </div>
                
              </div>
              </div>
              <div
                class="mt-16 mx-60 p-8 px-4 relative flex flex-col min-w-0 break-words bg-white shadow-lg rounded-xl opacity-100 text-center"> 
                <div>
                <h1 class="text-black text-4xl font-bold">INGENIERIA CIVIL</h1>
                <br>
              </div>
              <p>
                El capitulo de Ingenieria Civil congrega a los profecionales formados en los 
                conocimientos cientificos, tecnologicos y humanisticos que les permiten proyectar, 
                conducir, dirigir y crear, por medio de las matematicas aplicadas, las obras de estructura
                e infraestructura necesarias para acondicionar adecuadamente tanto fisica como culturalmente, el habito humano.
              </p>
            <!-- cards -->
            <!-- end cards -->
          </div>

          <div class="mt-16 p-10 relative  min-w-0 break-words bg-white opacity-100 text-center"> 
                <div style="grid-template-columns: auto auto auto auto; display: grid;">
                  <div class="m-5 p-2 relative min-w-0 break-words bg-black  shadow-lg rounded opacity-100 ">
                    <img class="w-full" src="/images/Civil.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2 text-white">Construcción y Gestión</div>
                      <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                      </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                      <a href="/capinscribirse" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Inscribirse</a>
                    </div>
                  </div>
                  <div class="m-5 p-2 relative min-w-0 break-words bg-black shadow-lg rounded opacity-100">
                    <img class="w-full" src="/images/Civil.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2 text-white">Estructuras</div>
                      <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                      </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                      <a href="/capinscribirse" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Inscribirse</a>
                    </div>
                  </div>
                  <div class="m-5 p-2 relative min-w-0 break-words bg-black shadow-lg rounded opacity-100">
                    <img class="w-full" src="/images/Civil.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2 text-white">Recursos Hídricos</div>
                      <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                      </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                      <a href="/capinscribirse" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Inscribirse</a>
                    </div>
                  </div>
                  <div class="m-5 p-2 relative min-w-0 break-words bg-black shadow-lg rounded opacity-100">
                    <img class="w-full" src="/images/Civil.jpg" alt="Sunset in the mountains">
                    <div class="px-6 py-4">
                      <div class="font-bold text-xl mb-2 text-white">Geotecnia</div>
                      <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                      </p>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                      <a href="/capinscribirse" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Inscribirse</a>
                    </div>
                  </div>
              </div>
          </div>
          
          
        </div>
        <div class="px-4 md:px-10 mx-auto w-full -m-24">
          <!-- contenido body1 -->
          
          <!-- contenido body 2-->

          <!-- footer -->
          <%- include('partials/footer.ejs'); %> 
          <!-- end footer -->
        </div>
        
      </div>
<!-- control -->
<%- include('partials/control.ejs'); %> 
<!-- end control -->