      <!-- nav -->
      <%- include('partials/navbar.ejs'); %> 
      <!-- end nav -->
      <div class="relative md:ml-64 bg-blueGray-50">
        <!-- heard perfil -buscar -->
       
        <!-- end heard perfil -buscar -->
        <!-- Header -->
        <div class="relative  md:pt-0  flex items-start pb-56 m-2 overflow-hidden bg-center bg-cover min-h-50-screen rounded-xl " style="background-image: url('https://cdlima.org.pe/wp-content/uploads/2021/08/cdlima-1.png')  ">
          <span class="absolute top-0 left-0 w-full h-full bg-center bg-cover bg-cyan-600 opacity-60"></span>
          <div class=" mx-auto w-full">
            <div
                class="m-4 px-4 relative flex flex-col min-w-0 break-words bg-black shadow-lg rounded opacity-80">
              <p class="text-white text-center text-5xl p-10">Gestion de Capacitacion</p>
              </div>

          <div style="grid-template-columns: auto auto auto; display: grid;">
            <div>
              <div class="relative bg-white mx-5 p-6 rounded-md mt-4">
              <div
                class="mt-5 mx-5 p-3 px-4 relative min-w-0 break-words bg-white shadow-xl rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Nombre del capitulo:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
                <!-- cards -->
                <!-- end cards -->
              </div>
              <div
                class="mt-8 mx-5 p-3 px-4 relative min-w-0 break-words bg-white shadow-xl rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Nombre del curso:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
              <div
                class="mt-8 mx-5 p-3 px-4 relative min-w-0 break-words bg-white shadow-xl rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Ponente:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
              
              </div>
              <div class="relative bg-white mx-5 p-6 rounded-md mt-4">
              <div
                class="mt-10 mx-10 p-3 px-4 relative min-w-0 break-words bg-white shadow-lg rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Nombres y Apellidos:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
              <div
                class="mt-8 mx-10 p-3 px-4 relative min-w-0 break-words bg-white shadow-lg rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Correo:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
              <div
                class="mt-8 mx-10 p-3 px-4 relative min-w-0 break-words bg-white shadow-lg rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Direccion:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div>
              <div class="relative bg-white mx-5 p-6 rounded-md mt-4">
              <div class="mt-5 mx-10 p-3 px-4 relative min-w-0 break-words bg-white shadow-lg rounded opacity-100 text-center">
                <div class="mb-3 xl:w-96">
                  <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Tipo:</label
                    >
                  <select class="form-select appearance-none
                    block
                    w-full
                    px-3
                    py-1.5
                    text-base
                    font-normal
                    text-gray-700
                    bg-white bg-clip-padding bg-no-repeat
                    border border-solid border-gray-300
                    rounded
                    transition
                    ease-in-out
                    m-0
                    focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example">
                      <option selected></option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="relative bg-white mx-5 p-6 rounded-md mt-4">
              <div
                class="mt-10 mx-10 p-3 px-4 relative min-w-0 break-words bg-white shadow-lg rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >codigo: CIP</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
              <div
                class="mt-2 mx-10 p-3 px-4 relative min-w-0 break-words bg-white shadow-lg rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >DNI:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
              <div
                class="mt-2 mx-10 p-3 px-4 relative min-w-0 break-words bg-white shadow-lg rounded opacity-100 text-center"> 
                <div class="">
                  <div class="mb-3 xl:w-96">
                    <label for="exampleFormControlInput1" class="form-label inline-block mb-2 text-black"
                      >Telefono:</label
                    >
                    <input type="text" class="form-control block w-full px-3 py-1.5 text-base font-normal
                        text-gray-700
                        bg-white bg-clip-padding
                        border border-solid border-gray-300
                        rounded
                        transition
                        ease-in-out
                        m-0
                        focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none
                      "
                      id="exampleFormControlInput1"
                      placeholder="Obligatorio*"
                    />
                  </div>
                </div>
              </div>
            </div>
            </div>
           
            <div class="mt-5 mx-10 p-10 px-4 relative flex flex-col min-w-0 break-words bg-black shadow-lg rounded opacity-100 text-center">
              <img class="w-full" src="/images/Civil.jpg" alt="Sunset in the mountains">
              <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2 text-white">Geotecnia</div>
                <p class="text-gray-700 text-base">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
                </p>
              </div>
              <div class="px-6 pt-4 pb-2">
                <a href="" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Inscribirse</a>
              </div>
            </div> 
          </div>
          
        </div>
      </div>
<!-- control -->
<%- include('partials/control.ejs'); %> 
<!-- end control -->